body{
    background: url("../img/fon4.png");
    background-size: 100%;
    background-color: rgb(0, 0, 0);
    font-family: 'Arial', Times, serif  ;
    line-height: 1.5;
    font-size: 20px;
   
    
}

footer {
  display: block;
}

p{
    text-indent: 30px;
  }

hr {
    margin-top: 0.5px;
    margin-bottom: 0.5px;
    border-style:inset;
    border-width: 0.5px;   
}

a {
    color:#fff;
    
    }

   



textarea {
    
    padding: 10px;
 width: 90%;
    height: 200px;
    box-sizing: border-box;
    font-size: 14px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ccc;
}


.title{
    text-align: center;
    font-size: 60px;
    color: #FFFFFF;
   
}

.botton {
    font-size: 35px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
	height: 50px;
    line-height: 50px;
    position: relative;
    border: 1px solid white;
    padding: 0 1rem;
    background-color: #3e3e3e;
	}
	.botton:active {
	background-color: hsl(0, 100%, 59%); /* Цвет кнопки при нажатии */
	}
	.botton:hover {
	background-color: #f92e2e; /* Цвет кнопки при наведении курсора */
	}

    input[type=text]  {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=number],select  {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 50;
        background-color: #404040;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=file] {
        width: 400px;
        background-color: #404040;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=reset] {
        width: 50;
        background-color: #404040;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .special {
        color: rgb(246, 0, 0);
        font-weight: bold;
    }

.mainPage{
   
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255)
}

.mPhoto{
    text-align: center;
    border-radius: 6%;
   
    padding-left: 5px; 
    padding-bottom: 5px;
}

.navigationR{
    text-align: right;
    
}

.photoR{
    text-align: right;
}

.historyPhoto{
    border-radius: 15%;
    float: right; 
    padding-left: 10px; 
    padding-bottom: 10px;
}

.historyBlock{
    
    width: 90%; 
    margin: 30px auto ;
 padding: 20px;
 
 background-size: auto auto;
    background-color:
     rgb(0, 0, 0);
    box-shadow: 0 20px 25px
    rgb(89, 89, 89);
    border-radius: 20px;
}

.productsBlock{
 
    height: 450px;
    width: 90%; 
    margin: 30px auto ;
 padding: 20px;


 background-size: auto auto;
    background-color:
     rgb(0, 0, 0);
    box-shadow: 0 20px 25px
    rgb(89, 89, 89);
    border-radius: 20px;
}

.productsBlock1{
    text-align: left;
    text-decoration: none;
  
    
    margin: auto auto ;
    

  
    background-size: auto auto;
    background-color:
     rgb(0, 0, 0);
    box-shadow: 0 20px 25px
    rgb(89, 89, 89);
    border-radius: 20px;
}

.comparisonsBlock{
   
    width: 95%; 
    margin: auto auto ;
 padding: 20px;
 
 background-size: auto auto;
    background-color:
     rgb(116, 116, 116);
    box-shadow: 0 20px 25px
    rgb(192, 192, 192);
    border-radius: 20px;
}

.table{
        width: 100%;
        margin-bottom: 20px;
        color: #000;
        border: 4px solid #3a3a3a;
        border-collapse: separate;
    }

 .indent{
     margin-top:40px;
 }


.standartText{
    font-size: 25px;
    color: rgb(255, 255, 255)
}

.mainText{
    font-size: 30px;
    text-align: left;
    color: rgb(255, 255, 255)
}

.texL{
    
    text-align: left;
    color: rgb(255, 255, 255)
}

.texC{
    text-align: center;
    color: rgb(255, 255, 255)
}

.texR{
    text-align: right;
    color: rgb(255, 255, 255)
}